nav a { 
    color: #EEEEEE;
    font-size: 18px;
    display: inline;
    margin: 50px 50px;
    font-weight:bold;
    color: #1C658C;  
}

nav {
background-color: #EEEEEE;
overflow: hidden;
padding: 15px;
text-align: right;
}
